# Dependency directories
./node_modules
/.pnp
.pnp.js

# Compiled output
/dist
/build
/out

# Logs and databases
*.log
*.sqlite
*.db

# Environment variables
.env.local
.env.development.local
.env.test.local
.env.production.local

# IDE and editor files
.idea
.vscode
*.swp
*.swo
*.swn
*.bak
*.tmp
*.sublime-workspace

# Miscellaneous
.DS_Store
Thumbs.db
*.tmp
*.bak
*.swp
*.swo
*.swn
